<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Note Display</title>
    <link rel="stylesheet" href="{% static 'css/lab4_style.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css?family=Epilogue:100,200,300,400,500,900" rel="stylesheet">
  </head>
  <body>
    <div class="flex-container-header">
      <div class="flex-items-header greetings">
        <p>Welcome, <br>{{username}}.</br></p>
      </div>
      <li class="flex-items-header navbar">
        Menu
        <ul class="navbar-menu">
          <li class="navbar-item"><a href="http://localhost:8000/lab-4/" >Home</a></li>
          <li class="navbar-item"><a href="http://localhost:8000/lab-4/note-list/">Card</a></li>
        </ul>
      </li>
    </div>
    <div class="flex-container-main">
      <p id="main-opening">We've compiled your messages here:</p>
      <table id="notes">
        <tr id="table-head">
          <th>to</th>
          <th>from</th>
          <th>title</th>
          <th>message</th>
        </tr>
        {% if notes %}
            {% for note in notes %}
              <tr>
              <td>{{ note.to}}</td>
              <td>{{ note.From }}</td>
              <td>{{ note.title }}</td>
              <td>{{ note.message }}</td>
              </tr>
          {% endfor %}
        {% endif %}
      </table>
      <div class="add-button">
        <a href="http://localhost:8000/lab-4/add-note">Add</a>
      </div> 
    </div>
  </body>
</html>