<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Add Note</title>
        <link rel="stylesheet" href="{% static 'css/lab4_style.css' %}" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css?family=Epilogue:100,200,300,400,500,900" rel="stylesheet">
    </head>
    <body>
    <div class="flex-container-header">
      <div class="flex-items-header greetings">
        <p>Add your notes here.</p>
      </div>
      <li class="flex-items-header navbar">
        Menu
        <ul class="navbar-menu">
          <li class="navbar-item"><a href="http://localhost:8000/lab-4/">Home</a></li>
          <li class="navbar-item"><a href="http://localhost:8000/lab-4/note-list/">Card</a></li>
        </ul>
      </li>
    </div>
    <div class="formbox">
        <form action="" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Submit">
        </form>
    </div>
    </body>
</html>