<!DOCTYPE=html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Note Card</title>
    <link rel="stylesheet" href="{% static 'css/lab4_style.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css?family=Epilogue:100,200,300,400,500,900" rel="stylesheet">
  </head>
  <body>
    <div class="flex-container-header">
      <div class="flex-items-header greetings">
        <p>Here are your messages, <br>shown in cards.</br></p>
      </div>
      <li class="flex-items-header navbar">
        Menu
        <ul class="navbar-menu">
          <li class="navbar-item"><a href="http://localhost:8000/lab-4/" >Home</a></li>
          <li class="navbar-item"><a href="http://localhost:8000/lab-4/note-list/">Card</a></li>
        </ul>
      </li>
    </div>
    <div class="card">
      {% if notes %}
            {% for note in notes %}
              <tr>
              <td>{{ note.to}}</td>
              <td>{{ note.From }}</td>
              <td>{{ note.title }}</td>
              <td>{{ note.message }}</td>
              </tr>
          {% endfor %}
        {% endif %}
    </div>
  </body>