<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Note Display</title>
  </head>
  <body>
    <table>
      <tr>
        <th>to</th>
        <th>from</th>
        <th>title</th>
        <th>message</th>
      </tr>
      {% if notes %}
          {% for note in notes %}
            <tr>
            <td>{{ note.to}}</td>
            <td>{{ note.From }}</td>
            <td>{{ note.title }}</td>
            <td>{{ note.message }}</td>
            </tr>
        {% endfor %}
      {% endif %}
    </table>
  </body>
</html>