body {
    display: flex;
    flex-direction: column;
    background-color: #faa307;
}

.flex-container-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.flex-items-header {
    /* border: 3px solid black; */
}

.greetings {
    display: flex;
    flex-grow: 2;
    justify-content: flex-start;
    font-family: 'Epilogue', sans-serif;
    font-size: 80px;
    font-weight: 900;
    color:whitesmoke;
    text-align: left;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    font: 500 30px 'Epilogue', sans-serif;
    color: antiquewhite;
    background-color: #0a2463;
    list-style-type: none;
    padding: 15px;
}

.navbar-menu {
    display: none;
    position: relative;
    list-style-type: none;
    text-align: right;
    background-color: #f9f9f9;
    color: black;
    font-size: 20px;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    margin-top: 40px;
    z-index: 1;

}

.navbar:hover  .navbar-menu{
    display: block;
}

.navbar-item {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

a {
    color:inherit;
    text-decoration: none;
}

.flex-container-main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0px;
}

#main-opening {
    font-family: 'Epilogue', sans-serif;
    font-size: 50px;
    font-weight: 500;
    color:whitesmoke;
    text-align: center;
}

#notes {
    font-family: 'Epilogue', sans-serif;
    font-size: 20px;
    font-weight: 300;
    color:whitesmoke;
    text-align: left;
    background-color: #0a2463;
    border-radius: 25px;
    width: 100%;
}

#table-head {
    border: 3px solid black;
}

th, td {
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 15px;
}

.formbox {
    background-color: #0a2463;
    border-radius: 8px;
    font-family: 'Epilogue', sans-serif;
    font-size: 15px;
    font-weight: 300;
    color:whitesmoke;
    padding: 10px 10px 10px 10px;
}

input[type=text], form, button {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.add-button {
    display: flex;
    justify-content: flex-end;
    padding-top: 30px;
}

.add-button a {
    background-color: #0a2463;
    border-radius: 10px;
    min-width: 100px;
    font: 500 20px 'Epilogue', sans-serif;
    color: antiquewhite;
    text-align: center;
    padding: 10px 10px;
}

.card {
    background-color: #0a2463;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }