#main {
    background­-color: #f0f0f0;
    color: red;
    font­-family: georgia;
    font­-size: 0.8em;
  }

#top {
    font-family: 'Epilogue', sans-serif;
    font-weight: 900;
    font-size: 100px;
  }  